.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 30px 50px  200px 250px;
}
.form-container {
   
}
h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 input:hover{
   background-color: #adacac; 
}
.submit{
    margin-top: 20px;
    /* width: 70px;
    height: 30px;
    border: 1px solid gray; */
}
table  {
 width: 100%;
}
/* CSS cho ô header (th) */
.danhmuc th {
    background-color: #4f4f4f;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* CSS cho các ô dữ liệu (td) */
.danhmuc td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

